doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Home - Meal Prep Lab
  link(rel="stylesheet" href="../../assets/css/home/home.css")

  link(rel='stylesheet' href='../../assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i')
nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark.navbar-custom
  .container
    a.navbar-brand(href='#') Meal Prep Lab
    button.navbar-toggler(data-toggle='collapse' data-target='#navbarResponsive')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item(role='presentation')
          a.nav-link(href='#') All Recipes
        li.nav-item(role='presentation')
          a.nav-link(href='#') Categories

header.masthead.text-center.text-white(style="background-image: url('../../assets/img/food.jpg'); ")
  .masthead-content
    .titleContainer
      h1.masthead-heading.mb-0 Meal Prep Lab
      h2.masthead-subheading.mb-0 The ultimate food website
      a.btn.btn-primary.btn-xl.rounded-pill.mt-5(role='button' href='#') Learn More

section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          img.rounded-circle.img-fluid(src='../../assets/img/01.jpg')
      .col-lg-6.order-lg-1
        .p-5
          h2.display-4 For those who doesn't eat meat...
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-1
        .p-5
          img.rounded-circle.img-fluid(src='../../assets/img/02.jpg')
      .col-lg-6.order-lg-2
        .p-5
          h2.display-4 And for those who try to eat healthier
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
section
  .container
    .row.align-items-center
      .col-lg-6.order-lg-2
        .p-5
          img.rounded-circle.img-fluid(src='../../assets/img/03.jpg')
      .col-lg-6.order-lg-1
        .p-5
          h2.display-4 Or just save money and time!
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
footer.py-5.bg-black
  .container
    p.text-center.text-white.m-0.small Copyright&nbsp;&copy; Meal Prep Lab 2018
script(src='../../assets/js/jquery.min.js')
script(src='../../assets/bootstrap/js/bootstrap.min.js')